<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "get_help_on_rails" %>
  <%= link_to t("rails_help"), "http://www.railstutorial.org/help" %>
  <%= t "get_help_sample_app" %>
  <%= link_to t("rails"), "http://www.railstutorial.org/book" %>
  <%= t "book" %>
</p>
